@font-face {
  font-family: 'ProximaNova-Black';
  src: url("../fonts/ProximaNova-Black.eot");
  src: url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url("../fonts/ProximaNova-Extrabld.eot");
  src: url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaT-Thin';
  src: url("../fonts/ProximaNovaT-Thin.eot");
  src: url("../fonts/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Thin.woff") format("woff"), url("../fonts/ProximaNova-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond-Black';
  src: url("../fonts/ProximaNovaCond-Black.eot");
  src: url("../fonts/ProximaNovaCond-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond-Black.woff") format("woff"), url("../fonts/ProximaNovaCond-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond-Bold';
  src: url("../fonts/ProximaNovaCond-Bold.eot");
  src: url("../fonts/ProximaNovaCond-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond-Bold.woff") format("woff"), url("../fonts/ProximaNovaCond-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond-Extrabld';
  src: url("../fonts/ProximaNovaCond-Extrabld.eot");
  src: url("../fonts/ProximaNovaCond-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond-Extrabld.woff") format("woff"), url("../fonts/ProximaNovaCond-Extrabld.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond-Light';
  src: url("../fonts/ProximaNovaCond-Light.eot");
  src: url("../fonts/ProximaNovaCond-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond-Light.woff") format("woff"), url("../fonts/ProximaNovaCond-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond-Regular';
  src: url("../fonts/ProximaNovaCond-Regular.eot");
  src: url("../fonts/ProximaNovaCond-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond-Regular.woff") format("woff"), url("../fonts/ProximaNovaCond-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond-Semibold';
  src: url("../fonts/ProximaNovaCond-Semibold.eot");
  src: url("../fonts/ProximaNovaCond-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond-Semibold.woff") format("woff"), url("../fonts/ProximaNovaCond-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond-Thin';
  src: url("../fonts/ProximaNovaCond-Thin.eot");
  src: url("../fonts/ProximaNovaCond-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond-Thin.woff") format("woff"), url("../fonts/ProximaNovaCond-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn-Black';
  src: url("../fonts/ProximaNovaExCn-Black.eot");
  src: url("../fonts/ProximaNovaExCn-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn-Black.woff") format("woff"), url("../fonts/ProximaNovaExCn-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn-Bold';
  src: url("../fonts/ProximaNovaExCn-Bold.eot");
  src: url("../fonts/ProximaNovaExCn-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn-Bold.woff") format("woff"), url("../fonts/ProximaNovaExCn-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn-Extrabld';
  src: url("../fonts/ProximaNovaExCn-Extrabld.eot");
  src: url("../fonts/ProximaNovaExCn-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn-Extrabld.woff") format("woff"), url("../fonts/ProximaNovaExCn-Extrabld.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn-Light';
  src: url("../fonts/ProximaNovaExCn-Light.eot");
  src: url("../fonts/ProximaNovaExCn-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn-Light.woff") format("woff"), url("../fonts/ProximaNovaExCn-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn-Regular';
  src: url("../fonts/ProximaNovaExCn-Regular.eot");
  src: url("../fonts/ProximaNovaExCn-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn-Regular.woff") format("woff"), url("../fonts/ProximaNovaExCn-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn-Semibold';
  src: url("../fonts/ProximaNovaExCn-Semibold.eot");
  src: url("../fonts/ProximaNovaExCn-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn-Semibold.woff") format("woff"), url("../fonts/ProximaNovaExCn-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn-Thin';
  src: url("../fonts/ProximaNovaExCn-Thin.eot");
  src: url("../fonts/ProximaNovaExCn-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn-Thin.woff") format("woff"), url("../fonts/ProximaNovaExCn-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  -webkit-box-shadow: 0 21px 21px rgba(0, 0, 0, 0.28);
          box-shadow: 0 21px 21px rgba(0, 0, 0, 0.28);
  background-color: #ffffff;
  opacity: 0.9;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.5fr 1fr;
      grid-template-columns: 3.5fr 1fr;
}

.header-text {
  padding: 10px 0;
  text-align: right;
  float: right !important;
}

.header-text__phone {
  font-family: 'ProximaNova-Bold', sans-serif;
  text-decoration: none;
  color: #1f1f1f;
  font-size: 17px;
  font-weight: 700;
}

.header-text__text {
  color: #22bac1;
  font-size: 14px;
}

nav {
  margin: auto 0;
}

.icon {
  text-decoration: none;
  display: none;
  font-size: 20px;
}

.topnav {
  font-size: 14px;
  margin: auto 0;
}

.topnav a {
  color: #000000;
  padding: 0 3%;
}

.topnav a:not(:first-child) {
  padding-left: 0;
}

@media screen and (max-width: 992px) {
  .header {
    position: absolute;
    background-color: initial;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.28);
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.28);
  }
  .header-wrap {
    -ms-grid-columns: 0.5fr 1fr;
        grid-template-columns: 0.5fr 1fr;
  }
  .header-text__phone {
    color: #ffffff;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a {
    float: none;
    display: block;
    text-align: left;
    color: #ffffff;
  }
  .responsive {
    position: relative;
  }
  .icon {
    position: absolute;
    display: contents;
    float: left;
    margin-top: -17px;
    display: block;
    color: #ffffff;
  }
}

.menu {
  background: url(../img/manu/background.png) no-repeat;
  background-color: #010304;
  background-size: cover;
  position: relative;
  padding: 125px 0 100px 0;
}

.menu-text__title {
  margin: 0;
  color: #fffafa;
  font-size: 48px;
  line-height: 60px;
  font-weight: 400;
}

.menu-text__title span {
  font-size: 20px;
  font-weight: 300;
  display: block;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 28px;
}

.menu-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.menu-contact {
  display: block;
  text-align: center;
  width: 370px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  margin-left: auto;
}

.menu-contact__input {
  width: 258px;
  height: 50px;
  margin-top: 16px;
  font-size: 13px;
  text-align: center;
  border: 1px solid #e8e8e8;
}

.menu-contact__button {
  margin-top: 20px;
  margin-bottom: 43px;
  background-color: #23bac1;
  color: #ffffff;
  width: 260px;
  height: 60px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  text-transform: uppercase;
}

.menu-contact__button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 0;
}

.menu-contact__title {
  padding-left: 14%;
  padding-right: 14%;
  padding-top: 40px;
  padding-bottom: 13px;
  margin: 0;
  font-size: 18px;
  font-family: 'ProximaNova-Light', sans-serif;
}

.menu-contact__title span {
  font-family: 'ProximaNova-Bold', sans-serif;
}

.backstretch {
  position: absolute;
  top: -58px;
  z-index: -10;
  opacity: 1.15;
}

.menu-advantages {
  width: 300px;
  color: #ffffff;
}

.menu-advantages__text {
  font-size: 15px;
  font-weight: 300;
}

.menu-advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.menu-advantages__img {
  font-size: 16px;
  min-width: 35px;
  min-height: 35px;
  border: 1px solid #fffafa42;
  border-radius: 50%;
  margin-right: 30px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-advantages__img-1, .menu-advantages__img-2 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-advantages__img-3 {
  background-image: url("../img/manu/reload.png");
}

.menu-advantages__img-4 {
  background-image: url("../img/manu/map-location.png");
}

@media (max-width: 992px) {
  .menu {
    padding: 80px 0;
  }
  .menu-wrap {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    max-width: 500px;
  }
  .menu-contact {
    margin: auto;
  }
  .menu-advantages {
    margin: auto;
    margin-bottom: 60px;
  }
  .menu-text__title {
    margin-bottom: 30px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .menu {
    padding: 60px 0;
  }
  .menu-text {
    padding-top: 30px;
  }
  .menu-text__title {
    font-size: 30px;
    line-height: 30px;
  }
  .menu-text__title span {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .menu {
    width: 100%;
  }
  .menu-contact {
    max-width: 300px;
  }
  .menu-contact__input {
    width: 250px;
    height: 50px;
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #e8e8e8;
  }
  .menu-contact__button {
    margin-top: 20px;
    background-color: #23bac1;
    width: 250px;
    height: 60px;
  }
  .menu-contact__title {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.view-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.view-text__elem ul {
  padding: 0;
}

.view-text__elem li {
  margin: auto;
  list-style-type: none;
  width: 31px;
  height: 2px;
  background-color: #23bac1;
}

.view-text__title {
  font-size: 36px;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 25px;
}

.view-text__subtitle {
  font-size: 20px;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 80px;
}

.view-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 350px;
  padding: 30px;
  padding-top: 0;
  margin: 10px;
  border: 1px solid #e8e8e800;
}

.card-title {
  font-size: 20px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.card-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
}

.card-text__wrap {
  font-size: 16px;
  line-height: 35px;
  margin: auto;
  margin-top: 0;
}

.card-text__wrap ul {
  margin: 0;
  padding: 0;
}

.card-text__wrap li {
  margin: auto;
  list-style-type: none;
  width: 9px;
  height: 2px;
  background-color: #23bac1;
}

.card-text__elem-1 {
  margin: auto;
  width: 240px;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
}

.card-img__wrap {
  margin-bottom: 25px;
}

.card-img__wrap img {
  width: 290px;
  height: 220px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.card-button {
  margin-top: 20px;
  margin-bottom: 25px;
  height: 60px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.33px;
  text-transform: uppercase;
  width: 230px;
  background-color: #ffffff;
}

.card-button__wrap {
  margin: 0 auto;
}

.card:hover {
  -webkit-box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
}

.card:hover .card-button {
  background-color: #23bac1;
  color: #ffffff;
  border: 0;
}

.card:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media (max-width: 375px) {
  .card {
    padding: 0 3%;
  }
}

.realised {
  color: #000000;
  margin-bottom: 100px;
}

.realised-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.realised-text__elem ul {
  padding: 0;
}

.realised-text__elem li {
  margin: auto;
  list-style-type: none;
  width: 31px;
  height: 2px;
  background-color: #23bac1;
}

.realised-text__title {
  font-size: 36px;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 25px;
}

.realised-text__subtitle {
  font-size: 20px;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 80px;
}

.realised-text_item {
  border: 1px solid #000000;
}

.arrow {
  width: 40px;
  height: 40px;
  position: absolute;
}

.arrow-right {
  background: url("../img/realised/button-left.png") no-repeat center;
  margin-left: 93%;
  z-index: 1;
}

.arrow-left {
  background: url("../img/realised/button-right.png") no-repeat center;
  z-index: 1;
}

.row {
  width: -webkit-fill-available;
  margin: auto 0;
  display: -webkit-inline-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-last {
  width: -webkit-fill-available;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.row-slick h3 {
  width: -webkit-fill-available;
  display: block;
  margin: 0;
  margin-bottom: auto;
}

.row-slick_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 36%;
}

.row-button {
  margin: 0;
  margin-top: auto;
}

.fotorama {
  margin-right: 87px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .fotorama {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .realised {
    margin-bottom: 30px;
  }
  .row {
    display: -ms-grid;
    display: grid;
    text-align: -webkit-center;
  }
  .fotorama {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .arrow-right {
    margin-left: 90%;
    margin-top: 20px;
  }
  .arrow-left {
    margin-top: 20px;
  }
  .slick-slide img {
    width: -webkit-fill-available;
  }
  .row-slick {
    max-width: 75%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-slick__subtitle {
    margin-bottom: 40px;
  }
  .row-slick h3 {
    padding-bottom: 25px;
  }
}

@media (max-width: 375px) {
  .realised-text__title {
    margin-top: 30px;
  }
}

*, *::after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100%;
  font-family: 'ProximaNova-Regular', sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
  z-index: 2;
  padding-left: 2%;
  padding-right: 2%;
}

.button {
  outline: none;
  border: 1px solid #aeaeae;
}

.button:hover {
  cursor: pointer;
}

.input {
  outline: none;
}

@media (max-width: 1920px) {
  .container {
    max-width: -webkit-fill-available;
  }
}

@media (max-width: 1024px) {
  .container {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */