.contacts
  height: 146px
  background-color: #191919
  color: #ffffff
  display: flex
  align-items: center
  &-address
    display: flex
    align-items: center
    &__img
      margin-right: 20px
    &__text
      font-size: 13px
      font-weight: 300
  &-data
    display: flex
    justify-content: space-between
  &-text__phone
    color: #ffffff

@media (max-width: 768px)
  .contacts
    height: 80px
    &-address
      &__text
        font-size: 10px
        font-weight: 300
      &__img
        margin-right: 10px