.contacts
  height: 146px
  background-color: #191919
  color: #ffffff
  display: flex
  align-items: center
  &-address
    display: flex
    align-items: center
    &__img
      margin: 0 20px
    &__text
      font-size: 13px
      font-weight: 300
  &-data
    display: flex
    justify-content: space-between
  &-text__phone
    color: #ffffff