.menu
  position: relative
  background: none
  padding: 125px 0 100px 0
  &-text
    &__title
      margin: 0
      color: #fffafa
      font-size: 48px
      line-height: 60px
      font-weight: 400
      span
        font-size: 20px
  &-wrap
    display: grid
    grid-template-columns: 1.2fr 1fr
  &-contact
    display: block
    text-align: center
    width: 370px
    border: 1px solid #ffffff
    background-color: #ffffff
    margin-left: auto
    &__input
      width: 258px
      height: 50px
      margin:
        top: 15px
      font-size: 13px
      text-align: center
      border: 1px solid #e8e8e8
    &__button
      margin:
        top: 20px
        bottom: 43px
      background-color: #23bac1
      width: 260px
      height: 60px
    &__title
      padding-left: 14%
      padding-right: 14%
      margin: 0
      font-size: 18px
      padding: 
        top: 40px
        bottom: 13px
.backstretch
  background-color: #010304
  position: absolute
  top: -58px
  z-index: -10
  img
    opacity: 1.15