
@import 'fonts'
@import 'mixins'

@import 'header'
@import 'menu'
@import 'view'
@import 'picking'
@import 'realised'
@import 'clientele'
@import 'contacts'
@import 'modal'

*, *::after, *:before
  box-sizing: border-box
  outline: none
body
  margin: 0
  max-width: 100%
  +Regular
.container
  width: 1264px
  margin: 0 auto
  z-index: 2
  padding:
    left: 2.8%
    right: 2%
.button
  outline: none 
  border: 1px solid #aeaeae42
  &:hover
    cursor: pointer
.input
  outline: none
.button-hover
  background-color: #23bac1
  color: #ffffff
.map
  height: 420px

@media (max-width: 1920px)
  .container
    max-width: -webkit-fill-available

@media (max-width: 768px)
  .title
    font-size: 30px
    span
      font-size: 25px
  .subtitle
    font-size: 25px

@media (max-width: 425px)
  .title
    font-size: 25px
    span
      font-size: 20px
  .subtitle
    font-size: 20px